// Dimensions
$body-width: 900px

// Fonts
$title-font: 'Roboto Slab', serif
$font-1: monospace
$font-2: 'Open Sans', sans-serif

$font-color-1: #262523
$font-color-2: #e2e1df

$font-color-1-lite: lighten($font-color-1, 14)

// Fills
$bg-color: #e2dbc9
$button-bg-color: #1E1C3E